@model Yeast.Model.FrontEnd.ContactUsViewModel
@{
    ViewBag.Title = "Index";
}
@section CssStyle{
    @*<link href="~/Content/css/ma5slider.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/bootstrap-rtl.min.css" rel="stylesheet" />*@

}
<div class="body stop-float-body clearfix" style="padding-top: 153px;">

    <div class=" container page-main">
        <ul class="breadcrumbs" style="background:url(../../Content/images/bread-series-v2-lrcropped2_1_orig.jpg);">
            <li class="breadcrumb ">
                <a href="@Url.Action("Index","Home")" class="breadcrumb-label">   @Resources.ContactUs</a>
            </li>
            <li class="breadcrumb is-active">
                <span class="breadcrumb-label">@Resources.Home</span>
            </li>
        </ul>
        <h1 class="page-heading">پیام جدید</h1>

        <div class="account account--fixed">
            @if (ViewBag.State)
            {
                <div class="alert alert-success" style="text-align:right;">
                    <h1>@Resources.TanckYou</h1>
                    @Resources.AlertSsuccess
                </div>
            }
            else
            {
                <div class="account-body">
                    <form role="form" method="post" action="@Url.Action("Index")">
                        @Html.AntiForgeryToken()
                        <div class="form-row form-row--half">
                            <div class="form-field form-field--input form-field--inputFullName" id="FormField_1" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Email Address&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="FullName">
                                <label class="form-label" for="FormField_1_input" style="text-align:right;">
                                    @Resources.FullName
                                    <small>این فیلد نباید خای باشد</small>
                                </label>
                                <input type="text" id="FullName" data-label="FullName" name="FullName" class="form-input" aria-required="true" data-field-type="FullName" style="text-align:right;">
                                <span style="display: none;"></span>
                            </div>

                            <div class="form-field form-field--input form-field--inputEmail" id="FormField_2" data-validation="{&quot;type&quot;:&quot;password&quot;,&quot;label&quot;:&quot;Password&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="Email">
                                <label class="form-label" for="FormField_2_input" style="text-align:right;">
                                    @Resources.Email
                                    <small>این فیلد نباید خای باشد</small>
                                </label>
                                <input type="text" class="form-input" id="Email" data-label="Email" name="Email" value="" autocomplete="off" aria-required="true" data-field-type="Email">
                                <span style="display: none;"></span>
                            </div>

                            <div class="form-field form-field--input form-field--inputMobile" id="FormField_3" data-validation="{&quot;type&quot;:&quot;password&quot;,&quot;label&quot;:&quot;Confirm Password&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="Mobile">
                                <label class="form-label" for="FormField_3_input" style="text-align:right;">
                                    @Resources.Mobil
                                    <small>این فیلد نباید خای باشد</small>
                                </label>
                                <input type="text" class="form-input" id="Mobile" data-label="Confirm Password" name="Mobile" value="" autocomplete="off" aria-required="true" data-field-type="ConfirmPassword">
                                <span style="display: none;"></span>
                            </div>

                            <div class="form-field form-field--input form-field--inputText" id="FormField_4" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;First Name&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="Title">
                                <label class="form-label" for="FormField_4_input" style="text-align:right;">
                                    @Resources.Title
                                    <small>این فیلد نباید خای باشد</small>
                                </label>
                                <input type="text" id="FormField_4_input" data-label="Title" name="Title" class="form-input" aria-required="true" data-field-type="Title" style="text-align:right;">
                                <span style="display: none;"></span>
                            </div>

                            <div class="form-field form-field--input form-field--inputText" id="FormField_5" data-validation="{&quot;type&quot;:&quot;singleline&quot;,&quot;label&quot;:&quot;Last Name&quot;,&quot;required&quot;:true,&quot;maxlength&quot;:0}" data-type="Message">
                                <label class="form-label" for="FormField_5_input" style="text-align:right;">
                                    @Resources.Body
                                    <small> این فیلد نباید خای باشد</small>
                                </label>
                                <textarea type="text" id="FormField_5_input" data-label="Message" name="Message" class="form-input" aria-required="true" data-field-type="Message" style="text-align:right;"></textarea>
                                <span style="display: none;"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="button button--primary" value="ارسال">
                        </div>
                    </form>
                </div>
                }
            </div>

    </div>
    <div id="modal" class="modal" data-reveal="" data-prevent-quick-search-close="">
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">×</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay" style="display: none;"></div>
    </div>
</div>


@section Javascripts{
    @*<script src="~/Content/js/jquery-ui.min.js"></script>*@
    @*<script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>*@
    @*<script src="~/Content/js/ma5slider.min.js"></script>*@
    @*<script>
        $('.ma5slider').ma5slider();
    </script>*@

    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
    <script>
        var form1 = $('form[data-loading-text]');
        var error1 = $('.alert-danger', form1);
        var success1 = $('.alert-success', form1);

        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            invalidHandler: function (event, validator) { //display error alert on form submit
                success1.hide();
                error1.show();
                App.scrollTo(error1, -200);
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                var cont = $(element).parent('.input-group');
                if (cont.size() > 0) {
                    cont.after(error);
                } else {
                    element.after(error);
                }
            },

            highlight: function (element) { // hightlight error inputs

                $(element)
                    .closest('.form-group').addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight
                $(element)
                    .closest('.form-group').removeClass('has-error'); // set error class to the control group
            },

            success: function (label) {
                label
                    .closest('.form-group').removeClass('has-error'); // set success class to the control group
            },

            submitHandler: function (form) {
                success1.show();
                error1.hide();
                form.submit();
                form1.button('loading')
            }
        });
    </script>
}
