@using Yeast.Model.FrontEnd
@model HomeViewModel
@{
    ViewBag.Title = "Index";
}
@section CssStyle{
    <link href="~/Content/Slider/engine1/style.css" rel="stylesheet" />
}
<title>apollo-demoshop19</title>
<link rel='canonical' href='http://ap-newfashion3.mybigcommerce.com/' />







<div class="body stop-float-body clearfix" style="padding-top: 0px;">

    <div class=" not-container  page-main">
        <div class="main full">
            <div class="container">
                <div class="on">
                    <section class="heroCarousel slick-initialized slick-slider" data-slick="">
                        <div class="on">
                            <div id="wowslider-container1">
                                <div class="ws_images">
                                    <ul>
                                        <li>@*<a href="#">*@<img src="@Url.Content(Model.homeModel.Image1)" style="width:100%;height:550px;" alt="image slider jquery" title="@Model.homeModel.TextImag1" id="wows1_0" />@*</a>*@</li>
                                        <li><img style="width:100%;height:550px;" src="@Url.Content(Model.homeModel.Image2)" alt="slideshow_image_2-min" title="@Model.homeModel.TextImag2" id="wows1_1" /></li>
                                        <li><img style="width:100%;height:550px;" src="@Url.Content(Model.homeModel.Image2)" alt="slideshow_image_2-min" title="@Model.homeModel.TextImag3" id="wows1_1" /></li>
                                    </ul>
                                </div>
                                <div class="ws_bullets">
                                    <div>
                                        <a href="#" title="slideshow_image_1-min-rs"><span><img src="@Url.Content(Model.homeModel.Image1)" alt="">1</span></a>
                                        <a href="#" title="slideshow_image_2-min"><span><img src="@Url.Content(Model.homeModel.Image2)" alt="">2</span></a>
                                        <a href="#" title="slideshow_image_2-min"><span><img src="@Url.Content(Model.homeModel.Image3)" alt="">3</span></a>
                                    </div>
                                </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">slider bootstrap</a> by WOWSlider.com v7.7</div>
                                <div class="ws_shadow"></div>
                            </div>
                            <!-- snippet location home_content -->
                        </div>

                        <button type="button" data-role="none" class="slick-prev" aria-label="previous" style="display: block;">Previous</button><button type="button" data-role="none" class="slick-next" aria-label="next" style="display: block;">Next</button><ul class="slick-dots" style="display: block;"><li class="slick-active" aria-hidden="false"><button type="button" data-role="none">1</button></li><li aria-hidden="true" class=""><button type="button" data-role="none">2</button></li></ul>
                    </section>
                    <!-- snippet location home_content -->

                </div>

                <div class="on block-carousel-index clearfix">
                    <div class="page-subheading">
                        <p class="title--main"> @Resources.Product</p>
                    </div>
                    <h2 class="page-heading">@Resources.Product</h2>
                    <div class="on">
                        <div class="widget-banner block">
                            <div class="banner-content row">
                                @foreach (var item in Model.ProductList.OrderByDescending(m => m.Id).Take(4))
                                {
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <article class="card ">
                                            <figure class="card-figure">
                                                <a href="http://ap-newfashion3.mybigcommerce.com/aenean-consequat-sagittis/" class="product_img_link">
                                                    <img style="min-height: 240px;max-height:240px; min-width: 100%;" class="card-image lazyautosizes" data-sizes="auto" src="@item.Image1" data-src="@item.Image1" alt="Aenean consequat sagittis" title="Aenean consequat sagittis" sizes="277px">
                                                    <span class="product-additional" data-product-id="">
                                                        <img style="min-height: 240px; min-width: 240px;" class="replace-2x img-responsive" src="@item.Image2" alt="Aenean consequat sagittis" title="Aenean consequat sagittis">
                                                    </span>
                                                </a>
                                                <div class="button-quickview">
                                                    <a href="@Url.Action("Detial", "Product", new { id = item.Id })" class="button button--small card-figcaption-button quickview" data-product-id="111">جزئیات <span class="fa fa-eye"></span></a>
                                                </div>
                                            </figure>
                                            <div class="card-body">
                                                <div class="card-body-left">
                                                    <h4 class="card-title">
                                                        <a href="http://ap-newfashion3.mybigcommerce.com/aenean-consequat-sagittis/">@item.Name.ConvertToPersianString()</a>
                                                    </h4>
                                                </div>
                                                <div class="card-text content-price" data-test-info-type="price">
                                                    <div class="price-section price-section--withoutTax ">
                                                        <span data-product-price-without-tax="" class="price price--withoutTax">*****</span>
                                                    </div>
                                                </div>
                                                <div class="description">
                                                    <p>@item.Description.ConvertToPersianString()</p>
                                                </div>
                                            </div>
                                            <div class="deal-clock lof-clock-111-detail">
                                                <div class="deal-clock-box">
                                                    <span>
                                                    </span>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>


                <div class="on block-carousel-index clearfix">
                   
                    <div class="block-email" style="background:#ededeb">
                        <div class="container">
                            <div class="blockemail__img col-md-6 col-sm-6">
                                <img src="~/Content/images/wheat_PNG51.png" style="min-height:500px;max-height:500px;" alt="BECOME A PREFERRED SUBSCRIBER" class="img-responsive">
                            </div>
                            <div class="col-md-6 col-sm-12 blockemail">
                                <h6 class="title-news"> ** @Resources.Companyoverview ** </h6>
                                <h3 class="title-news">@Model.homeModel.Titlepart2.ConvertToPersianString()</h3>
                                <p class="des-news">
                                    @Html.Raw(Model.homeModel.Bodypart2.ConvertToPersianString())
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="on block-carousel-index clearfix">
                    <div class="page-subheading">
                        <p class="title--main">@Resources.Blog</p>
                    </div>
                    <h2 class="page-heading">@Resources.Blog</h2>
                    <div class="on">
                        <div class="widget-banner block">
                            <div class="banner-content row">
                                @foreach (var item in Model.postlist.OrderByDescending(m => m.Id).Take(3))
                                {
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <article class="card">
                                            <figure class="card-figure">
                                                <a href="http://ap-newfashion3.mybigcommerce.com/aenean-consequat-sagittis/" class="product_img_link">
                                                    <img style="min-height: 240px;max-height:240px; min-width: 240px;" class="card-image lazyautosizes" data-sizes="auto" src="~/Content/upload/images/@item.TitleImg" data-src="@item.TitleImg" alt="Aenean consequat sagittis" title="Aenean consequat sagittis" sizes="277px">
                                                </a>
                                                <div class="button-quickview">
                                                    <a href="@Url.Action("Details", "Post", new { id = item.Id })" class="button button--small card-figcaption-button quickview" data-product-id="111">@Resources.ReadMore <span class="fa fa-eye"></span></a>
                                                </div>
                                            </figure>
                                            <div class="card-body">
                                                <div class="card-body-left">
                                                    <h4 class="card-title">
                                                        <a href="http://ap-newfashion3.mybigcommerce.com/aenean-consequat-sagittis/">@Resources.Article : @item.Title.ConvertToPersianString()  </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    <!-- MEGAMENU -->

                </div>

                <div class="on block-carousel-index clearfix">
                    
                    <h6 class="page-heading">@Resources.Overview</h6>
                    <div class="blockstore row">
                        <div class="col-md-12 col-lg-6 no-padding blockstore__left">
                            <div class="blockstore__left--logo">
                                <img src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/logo-store.png" alt="We love fashion" class="img-responsive">
                            </div>
                            <h4 class="blockstore__left--title"> @Model.homeModel.Titlepart1.ConvertToPersianString()</h4>
                            <div class="blockstore__left--des">
                                @Html.Raw(Model.homeModel.Bodypart1.ConvertToPersianString())
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-6 no-padding blockstore_right">
                            <img src="@Model.homeModel.Image1" alt="We love fashion" class="img-responsive" style="word-wrap:break-word;min-height:540px;max-height:540px;">
                        </div>
                    </div>
                </div>

                @*<div class="on">
            <div class="widget-banner block">
                <div class="banner-content row">
                    <div class="hero-image" style="background-image:url(../../Content/images/Saf-Instant-Gree.jpg)">
                        <div class="hero-text">
                            <h1>banner</h1>
                            <p>i am website desginer</p>
                            <button>project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

            </div>
            @section Javascripts{
                @*<script src="~/Content/Slider/engine1/wowslider.js"></script>
                    <script src="~/Content/Slider/engine1/script.js"></script>*@
                @*<script src="~/Content/js/jquery-ui.min.js"></script>
                    <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>*@

                @*<script src="http://cdn7.bigcommerce.com/s-3f6ufy7gd4/stencil/b9ae4a60-9c1e-0135-548c-525400970412/e/12ee1ef0-9c20-0135-73dc-525400dfdca6/dist/theme-bundle.main.js"></script>*@



            }
        </div>
    </div>
</div>