@using Yeast.DomainClasses.Entities
@model IList<Product>
@{
    ViewBag.Title = "Index";
}
@section CssStyle{
    <link href="~/Content/Slider/engine1/style.css" rel="stylesheet" />
}

<div class="body stop-float-body clearfix">

    <div class="not-container page-main">
        <div class="on">
            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li><a href="http://wowslider.com"><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt="image slider jquery" title="سیبسیشسیبسیب" id="wows1_0" /></a></li>
                        <li><img src="@Url.Content("~/Content/images/slideshow_image_1-min-rs.jpg")" alt="slideshow_image_2-min" title="سشیبسشیبشسبشسی" id="wows1_1" /></li>
                    </ul>
                </div>
                <div class="ws_bullets">
                    <div>
                        <a href="#" title="slideshow_image_1-min-rs"><span><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt="">1</span></a>
                        <a href="#" title="slideshow_image_2-min"><span><img src="@Url.Content("~/Content/images/slideshow_image_1-min-rs.jpg")" alt="">2</span></a>
                    </div>
                </div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">slider bootstrap</a> by WOWSlider.com v7.7</div>
                <div class="ws_shadow"></div>
            </div>
            <!-- snippet location home_content -->
        </div>
        <div class="main full">
            <div class="on row">
                @*<div class="col-lg-2-4 col-md-12 col-sm-12 col-xs-12 block-product-left">
                        <div class="block_left">
                            <div class="page-subheading ">
                                <p class="title--main">Women</p>
                                <p class="title--sub">
                                    <span>Shop The Look</span>
                                </p>
                            </div>
                            <div class="effect_image_3">
                                <div class="effect-img">
                                    <img src="~/Content/images/img-cate-min.jpg" alt="Women" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">
                    <h2 class="page-heading">New Products</h2>
                    <section class="productGrid productGrid--maxCol4" dir="ltr" data-slick='{
        "dots": false,
            "arrows": true,
            "infinite": true,
             "slidesToShow": 5,
               "slidesToScroll": 1,
           "responsive": [
                {
                  "breakpoint": 1024,
                  "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 600,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 480,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                }
            ]
    }'>
                        @foreach (var item in Model)
                        {
                    <div class="product">
                        <article class="card ">
                            <figure class="card-figure" style="height:485px;background-color:#e6e0e0;">
                                <a href="http://ap-newfashion.mybigcommerce.com/aenean-consequat-sagittis/" class="product_img_link">
                                    <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="@item.Image1" alt="Aenean consequat sagittis" title="Aenean consequat sagittis">
                                    <span class="product-additional" data-product-id="">
                                        <img class="replace-2x img-responsive" src="@item.Image1" alt="Aenean consequat sagittis" title="Aenean consequat sagittis">
                                    </span>
                                </a>
                                <div class="button-quickview">
                                    <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="111">جزئیات <span class="fa fa-eye"></span></a>
                                </div>
                                <figcaption class="card-figcaption">
                                    <div class="card-figcaption-body">
                                        <a href="http://ap-newfashion.mybigcommerce.com/aenean-consequat-sagittis/" class="button button--small card-figcaption-button add-cart-button" data-product-id="111">Choose Options<span class="fa fa-shopping-cart"></span></a>
                                        <div class="product-meta">
                                            <div class="box-wishlist true-compare " title="Wishlist">
                                                <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=111" data-wishlist-add>
                                                    <div class="form-action">
                                                        <input type="hidden" name="variation_id" value="">
                                                        <button class="button button--small card-figcaption-button" type="submit">
                                                            <span class="title-button">Wishlist</span>
                                                            <span class="fa fa-heart"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <label class="button button--small card-figcaption-button button-compare" for="compare-111" title="Compare">
                                                <span class="title-button">Compare</span>
                                                <input type="checkbox" name="products[]" value="111" id="compare-111" data-compare-id="111">
                                                <i class="fa fa-copy"></i>
                                            </label>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                            <div class="card-body">
                                <div class="card-body-left">
                                    <h4 class="card-title">
                                        <a href="http://ap-newfashion.mybigcommerce.com/aenean-consequat-sagittis/">@item.Name</a>
                                    </h4>
                                    <p class="card-text" data-test-info-type="productRating">
                                        <span class="rating--small">
                                            <span class="icon icon--ratingEmpty">
                                                <svg>
                                                    <use xlink:href="#icon-star" />
                                                </svg>
                                            </span>
                                            <span class="icon icon--ratingEmpty">
                                                <svg>
                                                    <use xlink:href="#icon-star" />
                                                </svg>
                                            </span>
                                            <span class="icon icon--ratingEmpty">
                                                <svg>
                                                    <use xlink:href="#icon-star" />
                                                </svg>
                                            </span>
                                            <span class="icon icon--ratingEmpty">
                                                <svg>
                                                    <use xlink:href="#icon-star" />
                                                </svg>
                                            </span>
                                            <span class="icon icon--ratingEmpty">
                                                <svg>
                                                    <use xlink:href="#icon-star" />
                                                </svg>
                                            </span>
                                            <!-- snippet location product_rating -->
                                        </span>
                                    </p>
                                </div>
                                <div class="card-text content-price" data-test-info-type="price">
                                    <div class="price-section price-section--withoutTax ">
                                        <span data-product-price-without-tax class="price price--withoutTax">@item.Price ریال</span>
                                    </div>
                                </div>
                                <div class="description">
                                    <p>@item.Description</p>
                                </div>
                            </div>
                            <div class="deal-clock lof-clock-111-detail">
                                <div class="deal-clock-box">
                                    <span>
                                    </span>
                                </div>
                            </div>
                        </article>
                    </div>
}
            
                    </section>

                    <!-- MEGAMENU -->

                </div>
            </div>
            <div class="on clearfix">
                <div class="blockstore row">
                    <div class="col-md-12 col-lg-6 no-padding blockstore__left">
                        <div class="blockstore__left--logo">
                            <img src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/logo-store.png" alt="We love fashion" class="img-responsive">
                        </div>
                        <h4 class="blockstore__left--title">We love fashion</h4>
                        <div class="blockstore__left--des">
                            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat
                        </div>
                        <a class="blockstore__left--btn btn btn-outline-inverse" href="http://apollo-demoshop13.mybigcommerce.com">More Detail</a>
                    </div>
                    <div class="col-md-12 col-lg-6 no-padding blockstore_right">
                        <img src="~/Content/images/img-about-min.jpg" alt="We love fashion" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="on row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">


                    <h2 class="page-heading">Featured Products</h2>

                    <ul class="productGrid productGrid--maxCol4" data-product-type="featured" dir="ltr" data-slick='{
            "dots": false,
            "arrows": true,
            "infinite": true,
             "slidesToShow": 4,
  			 "slidesToScroll": 1,
             "responsive": [
                {
                  "breakpoint": 1024,
                  "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 600,
                  "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2
                  }
                },
                {
                  "breakpoint": 480,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                }
            ]

        }'>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/quam-vitnibh-aliqueobo/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/58-thickbox_default-min__02732.1499309302.jpg" alt="Quam vitnibh aliqueobo " title="Quam vitnibh aliqueobo ">
                                        <span class="product-additional" data-product-id="">
                                            <img class="replace-2x img-responsive" src="~/Content/images/59-thickbox_default-min__78909.1499309309.jpg" alt="Quam vitnibh aliqueobo " title="Quam vitnibh aliqueobo ">
                                        </span>
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="98">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/quam-vitnibh-aliqueobo/" class="button button--small card-figcaption-button add-cart-button" data-product-id="98">Choose Options<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=98" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-98" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="98" id="compare-98" data-compare-id="98">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/quam-vitnibh-aliqueobo/">Quam vitnibh aliqueobo </a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">Common Good</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$100.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>A 100% biodegradable plant based 3x concentrated laundry detergent for use in conventional and high efficiency machines. This product is leaping bunny certified and has not been tested on animals...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-98-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                            10-31-2018
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/begestas-lorem-commodo/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/88-thickbox_default-min-rs__76988.1499309560.jpg" alt="Begestas lorem commodo" title="Begestas lorem commodo">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="97">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/cart.php?action=add&amp;product_id=97" class="button button--small card-figcaption-button add-cart-button">Add to Cart<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=97" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-97" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="97" id="compare-97" data-compare-id="97">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/begestas-lorem-commodo/">Begestas lorem commodo</a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">OFS</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$200.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Here's a three tiered wire basket to clean up your countertop and elevate your storage space. Display a selection of fresh fruit to encourage healthy snacking: pile it high and watch it fly. Can also...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-97-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                            10-31-2018
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/abitasse-commodo-aenean/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/86-thickbox_default-min__39805.1499309776.jpg" alt="Abitasse Commodo aenean" title="Abitasse Commodo aenean">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="93">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/abitasse-commodo-aenean/" class="button button--small card-figcaption-button add-cart-button" data-product-id="93">Choose Options<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=93" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-93" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="93" id="compare-93" data-compare-id="93">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/abitasse-commodo-aenean/">Abitasse Commodo aenean</a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">OFS</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingFull">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingFull">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingFull">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingFull">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingFull">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$300.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>When translated Le Parfait means "the perfect one" - and that's just what this air-tight jar is. Designed for canning, these jars will ensure your harvest does not spoil, but is kept well-preserved...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-93-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                            12-31-2018
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/appliqued-cotton/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/85-thickbox_default-min__01047.1499309682.jpg" alt="Appliquéd Cotton" title="Appliquéd Cotton">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="94">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/cart.php?action=add&amp;product_id=94" class="button button--small card-figcaption-button add-cart-button">Add to Cart<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=94" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-94" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="94" id="compare-94" data-compare-id="94">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/appliqued-cotton/">Appliquéd Cotton</a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">Sagaform</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$120.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Crafted from oak and stainless steel this handy cheese grater is the perfect addition for the considered tabletop. Works wonderfully for grated parmesan: the fine stainless steel teeth grate the...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-94-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                            12-31-2018
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>

                    <!-- MEGAMENU -->

                </div>
            </div>
            <div class="on clearfix">
                <div class="block-email" style="background:#ededeb">
                    <div class="container">
                        <div class="blockemail__img col-md-6 col-sm-6">
                            <img src="~/Content/images/imgpsh-fullsize-rs.jpg" alt="BECOME A PREFERRED SUBSCRIBER" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-12 blockemail">
                            <h3 class="title-news">BECOME A PREFERRED SUBSCRIBER</h3>
                            <p class="des-news">
                                Get 15% off your next order. Be the first to learn about promotions special events, new arrivals and more
                            </p>
                            <div class="newsletter-form">
                                <form class="form" action="/subscribe.php" method="post">
                                    <fieldset class="form-fieldset">
                                        <input type="hidden" name="action" value="subscribe">
                                        <input type="hidden" name="nl_first_name" value="bc">
                                        <input type="hidden" name="check" value="1">
                                        <div class="form-field">
                                            <label class="form-label is-srOnly" for="nl_email">Email Address</label>
                                            <div class="form-prefixPostfix wrap">
                                                <input class="form-input" id="nl_email" name="nl_email" type="email" value="" placeholder="Your email address">
                                                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="Subscribe">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="on row">
                @*<div class="col-lg-2-4 col-md-12 col-sm-12 col-xs-12 block-product-left">
                        <div class="block_left">
                            <div class="page-subheading ">
                                <p class="title--main">Accessories</p>
                                <p class="title--sub">
                                    <span>The Collections</span>
                                </p>
                            </div>
                            <div class="effect_image_3">
                                <div class="effect-img">
                                    <img src="~/Content/images/img-cate-3-min.jpg" alt="Accessories" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">
                    <h2 class="page-heading">Most Popular Products</h2>
                    <ul class="productGrid productGrid--maxCol4" data-product-type="top_sellers" dir="ltr" data-slick='{
           "dots": false,
            "arrows": true,
            "infinite": true,
             "slidesToShow": 4,
  			 "slidesToScroll": 1,
         "responsive": [
                {
                  "breakpoint": 1024,
                  "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 600,
                  "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2
                  }
                },
                {
                  "breakpoint": 480,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                }
            ]

        }'>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/miero-enim-vehicula/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/s6-min__43240.1499310437.jpg" alt="Miero enim vehicula" title="Miero enim vehicula">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="86">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/cart.php?action=add&amp;product_id=86" class="button button--small card-figcaption-button add-cart-button">Add to Cart<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=86" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-86" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="86" id="compare-86" data-compare-id="86">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/miero-enim-vehicula/">Miero enim vehicula</a>
                                        </h4>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$398.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Stemming from an intense passion for the most flavourful cup of coffee, Able Brewing set out to create a brewer that was as aesthetically pleasing as it was functional. They imagined a product that...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-86-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/begestas-lorem-commodo/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/88-thickbox_default-min-rs__76988.1499309560.jpg" alt="Begestas lorem commodo" title="Begestas lorem commodo">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="97">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/cart.php?action=add&amp;product_id=97" class="button button--small card-figcaption-button add-cart-button">Add to Cart<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=97" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-97" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="97" id="compare-97" data-compare-id="97">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/begestas-lorem-commodo/">Begestas lorem commodo</a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">OFS</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$200.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>Here's a three tiered wire basket to clean up your countertop and elevate your storage space. Display a selection of fresh fruit to encourage healthy snacking: pile it high and watch it fly. Can also...</p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-97-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                            10-31-2018
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <div class="sale-flag-side">
                                        <span class="sale-text">Sale</span>
                                    </div>
                                    <a href="http://ap-newfashion.mybigcommerce.com/libero-quis-enim-vehicula/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/104-thickbox_default-min__37458.1499308829.jpg" alt="Libero quis enim vehicula" title="Libero quis enim vehicula">
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="103">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/cart.php?action=add&amp;product_id=103" class="button button--small card-figcaption-button add-cart-button">Add to Cart<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=103" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-103" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="103" id="compare-103" data-compare-id="103">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/libero-quis-enim-vehicula/">Libero quis enim vehicula</a>
                                        </h4>
                                        <p class="card-text brand-name" data-test-info-type="brandName">OFS</p>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-rrp-without-tax class="price price--rrp">$200.00</span>
                                            <span data-product-price-without-tax class="price price--withoutTax">$150.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>
                                            The last laundry cart you'll ever buy. This industrial non-collapsable cart is constructed with a steel framed body using heavyweight canvas capped with a soft leather rim sitting on four smooth...
                                        </p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-103-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li class="product">
                            <article class="card ">
                                <figure class="card-figure">
                                    <a href="http://ap-newfashion.mybigcommerce.com/baseball-cap/" class="product_img_link">
                                        <img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/s9-min-rs__06198.1499309930.jpg" alt="Baseball Cap" title="Baseball Cap">
                                        <span class="product-additional" data-product-id="">
                                            <img class="replace-2x img-responsive" src="~/Content/images/s10-min-rs__09132.1499310114.jpg" alt="Baseball Cap" title="Baseball Cap">
                                        </span>
                                    </a>
                                    <div class="button-quickview">
                                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="88">Quick view <span class="fa fa-eye"></span></a>
                                    </div>
                                    <figcaption class="card-figcaption">
                                        <div class="card-figcaption-body">
                                            <a href="http://ap-newfashion.mybigcommerce.com/baseball-cap/" class="button button--small card-figcaption-button add-cart-button" data-product-id="88">Choose Options<span class="fa fa-shopping-cart"></span></a>
                                            <div class="product-meta">
                                                <div class="box-wishlist true-compare " title="Wishlist">
                                                    <form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=88" data-wishlist-add>
                                                        <div class="form-action">
                                                            <input type="hidden" name="variation_id" value="">
                                                            <button class="button button--small card-figcaption-button" type="submit">
                                                                <span class="title-button">Wishlist</span>
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <label class="button button--small card-figcaption-button button-compare" for="compare-88" title="Compare">
                                                    <span class="title-button">Compare</span>
                                                    <input type="checkbox" name="products[]" value="88" id="compare-88" data-compare-id="88">
                                                    <i class="fa fa-copy"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="card-body">
                                    <div class="card-body-left">
                                        <h4 class="card-title">
                                            <a href="http://ap-newfashion.mybigcommerce.com/baseball-cap/"> Baseball Cap</a>
                                        </h4>
                                        <p class="card-text" data-test-info-type="productRating">
                                            <span class="rating--small">
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <span class="icon icon--ratingEmpty">
                                                    <svg>
                                                        <use xlink:href="#icon-star" />
                                                    </svg>
                                                </span>
                                                <!-- snippet location product_rating -->
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-text content-price" data-test-info-type="price">
                                        <div class="price-section price-section--withoutTax ">
                                            <span data-product-price-without-tax class="price price--withoutTax">$247.00</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>
                                            The Chemex Coffeemaker was created in 1939 by famed inventor Peter J. Schlumbohm.
                                            Applying his knowledge of filtration and extraction, Mr. Schlumbohm was able to craft the vessel that would pour the...
                                        </p>
                                    </div>
                                </div>
                                <div class="deal-clock lof-clock-88-detail">
                                    <div class="deal-clock-box">
                                        <span>
                                        </span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                    <!-- MEGAMENU -->
                </div>
            </div>
            <div class="on clearfix col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="block-testimonial-index testimmonial">
                    <div class="page-subheading">
                        <p class="title--main">Testimonial</p>
                        <p class="title--sub">What Clients Say</p>
                    </div>
                    <div class="testimonial_wrap">
                        <div class="quotes-wrapper">
                            <div class="quotes-slider" id="Quotes-block">
                                <div class="quotes-slide-block" dir="ltr" data-slick='{
        "dots": false,
        "infinite": true,
        "autoplay": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1
        }'>
                                    <div class="quotes-slider__text text-center">
                                        <span class="quote-icon"></span>
                                        <div class="rte-setting">
                                            I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Lion! Lion! How&#x27;s business? Boomin. It&#x27;s important to use cocoa butter. It&#x27;s the key to more success, why not live smooth? Why live rough?
                                        </div>
                                        <div class="t-avatar">
                                        </div>
                                        <h4 class="title_quote author_quote">
                                            Author&#x27;s name
                                        </h4>
                                        <p class="descriptions_quote">
                                            Customer from Mango.com
                                        </p>
                                    </div>
                                    <div class="quotes-slider__text text-center">
                                        <span class="quote-icon"></span>
                                        <div class="rte-setting">
                                            I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Lion! Lion! How&#x27;s business? Boomin. It&#x27;s important to use cocoa butter. It&#x27;s the key to more success, why not live smooth? Why live rough?
                                        </div>
                                        <div class="t-avatar">
                                        </div>
                                        <h4 class="title_quote author_quote">
                                            Author&#x27;s name
                                        </h4>
                                        <p class="descriptions_quote">
                                            Customer from Mango.com
                                        </p>
                                    </div>
                                    <div class="quotes-slider__text text-center">
                                        <span class="quote-icon"></span>
                                        <div class="rte-setting">
                                            I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Lion! Lion! How&#x27;s business? Boomin. It&#x27;s important to use cocoa butter. It&#x27;s the key to more success, why not live smooth? Why live rough?
                                        </div>
                                        <div class="t-avatar">
                                        </div>
                                        <h4 class="title_quote author_quote">
                                            Author&#x27;s name
                                        </h4>
                                        <p class="descriptions_quote">
                                            Customer from Mango.com
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MEGAMENU -->

                </div>
            </div>
            <div class="on col-md-12 col-lg-6 col-sm-12 col-xs-12 no-padding">
                <div class="block-testimonial-index testimmonial block-logo-list">
                    <div class="page-subheading">
                        <p class="title--main">Shop by</p>
                        <p class="title--sub">Top Favourites</p>
                    </div>
                    <div class="brandlist-homepage" dir="ltr" data-slick='{
            "dots": false,
            "infinite": true,
            "rows":"2",
            "slidesToShow": 4,
            "slidesToScroll": 1,
            "responsive": [
                {
                    "breakpoint": 1200,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 992,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 3
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 2
                    }
                },
                {
                    "breakpoint": 480,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 1
                    }
                }
            ]
        }'>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-1-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-2-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-3-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-4-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-5-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-6-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-1-min.png" alt="brand-logo" />
                            </a>
                        </div>
                        <div class="brand-logo">
                            <a title="brand logo" href="#">
                                <img class="img-responsive" src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/vendor-logo-2-min.png" alt="brand-logo" />
                            </a>
                        </div>
                    </div>
                    <!-- MEGAMENU -->

                </div>
            </div>

        </div>


    </div>
    <div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
        <a href="#" class="modal-close" aria-label="Close" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
</div>
@section Javascripts{
    <script src="~/Content/Slider/engine1/wowslider.js"></script>
    <script src="~/Content/Slider/engine1/script.js"></script>
    @*<script src="~/Content/js/jquery-ui.min.js"></script>
        <script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>*@
    <script>
    </script>
}
