@model StatisticsViewModel
@{
    ViewBag.Title = "داشبورد";
    ViewBag.SelectedPage = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int rowNumber = 0;
}

@section CssStyle{
    <link href="~/Content/css/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        @*<ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Blank Page</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Page Layouts</span>
            </li>
        </ul>*@
        @*<div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        داشبورد
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    @*<div class="note note-info">
        <p>تمام این‌ها به کمک API گوگل اکتیویتی پرمیشه و باعث شیک شدن و پویایی سایت خواهد شد.</p>
    </div>*@
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349"> @Model.TodayVisits.ConvertToPersianString() نفر</span>
                    </div>
                    <div class="desc"> بازدید امروز </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">۰ نفر</span>
                    </div>
                    <div class="desc"> افراد آنلاین </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549">@Model.TotallVisits.ConvertToPersianString() نفر</span>
                    </div>
                    <div class="desc"> بازدید کل </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="89">@Model.UniquVisitors.ConvertToPersianString() نفر</span>
                    </div>
                    <div class="desc"> بازدید یونیک </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-directions font-green hide"></i>
                        <span class="caption-subject bold font-dark uppercase "> آمار بازدید</span>
                        <span class="caption-helper">به تفکیک کشور</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table data-toggle="table"
                           data-page-list="[10, 20, 50, 100, 200]"
                           data-search="true"
                           data-search-on-enter-key="true"
                           data-maintain-selected="true"
                           data-show-columns="true"
                           data-buttons-align="right">
                        <thead>
                            <tr>
                                <th data-align="center" data-width="10px">ردیف</th>
                                <th data-align="center" data-sortable="true" data-filter-control="input">پرچم</th>
                                <th data-align="center" data-sortable="true" data-filter-control="input">عنوان</th>
                                <th data-align="center" data-sortable="true" data-filter-control="input">بازدید</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CountryList)
                            {
                                rowNumber++;
                            <tr>
                                <td>@rowNumber.ConvertToPersianString()</td>
                                <td>
                                    @if (item.CountryCode != null)
                                    {
                                        <img src="@Url.Content("~/Content/images/flags/" + item.CountryCode.ToLower() + ".png")" />
                                    }
                                </td>
                                <td>@item.CountryName</td>
                                <td>@item.ViewCount.ConvertToPersianString()</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <!-- Start Analytics iliama -->
                        <script type="text/javascript">
                            var code = '1778';
                            var site = 'hemersintoos.ir';
                            var orders = 'mode=summery&items=online,unique_hits,hits,yesterday_unique_hits,yesterday_hits,week,month,total,most_visited,most_online';
                        </script>
                        <div style="display:none;"><a href="http://www.iliama.com/stats">امارگیر سایت</a></div>
                        <style>
                            .iliama_stats {
                                width: 200px;
                                background-color: #F7F7F7;
                                border: 3px solid #9C9C9C;
                                border-radius: 5px;
                                color: #5A5A5C;
                                font-size: 12px;
                                text-align: right;
                            }

                                .iliama_stats a {
                                    color: #5A5A5C;
                                }

                                .iliama_stats .inner-stat {
                                    padding: 5px 10px;
                                    border-radius: 6px;
                                }

                                .iliama_stats .head-title {
                                    text-align: center;
                                    padding: 3px 0px;
                                    border-radius: 5px;
                                    margin: 0px 0px 6px 0px;
                                    font-size: 13px;
                                    font-weight: bold;
                                }

                                .iliama_stats .lines {
                                    line-height: 22px;
                                }
                        </style>
                        <div id="iliama_stats" style="text-align:center;"></div>
                        <script type="text/javascript" src="http://analytics.iliama.com/stats.js"></script>
                        <!-- End Analytics iliama -->
                    </div>
                </div>
                <div class="portlet-body">

                </div>
            </div>
        </div>
    </div>
</div>
@section Javascripts{
    <script src="~/Content/js/bootstrap-table/bootstrap-table.js"></script>
}
