@model IList<Yeast.Model.FrontEnd.Product>
@{
	ViewBag.Title = "Index";
}
@section CssStyle{
	<link href="~/Content/css/ma5slider.min.css" rel="stylesheet" />
}

<div class="body stop-float-body clearfix">

	<div class="not-container page-main">
		<div class="on">
			@*<div id="example-26" class="ma5slider anim-horizontal outside-dots center-dots inside-navs loop-mode">
				<div class="slides">
					<a href="#slide-1"><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt=""></a>
					<a href="#slide-2"><img src="@Url.Content("~/Content/images/slideshow_image_1-min-rs.jpg")" alt=""></a>
					<a href="#slide-3"><img src="@Url.Content("~/Content/images/slideshow_image_2-min.jpg")" alt=""></a>
				</div>
			</div>*@
			<!-- snippet location home_content -->
		</div>
		<div class="main full">
			<div class="on row">
				@*<div class="col-lg-2-4 col-md-12 col-sm-12 col-xs-12 block-product-left">
					<div class="block_left">
						<div class="page-subheading ">
							<p class="title--main">Women</p>
							<p class="title--sub">
								<span>Shop The Look</span>
							</p>
						</div>
						<div class="effect_image_3">
							<div class="effect-img">
								<img src="~/Content/images/img-cate-min.jpg" alt="Women" class="img-responsive">
							</div>
						</div>
					</div>
				</div>*@
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-product-right">
					<h2 class="page-heading">New Products</h2>
					<section class="productGrid productGrid--maxCol4" dir="ltr" data-slick='{
        "dots": false,
            "arrows": true,
            "infinite": true,
             "slidesToShow": 5,
               "slidesToScroll": 1,
           "responsive": [
                {
                  "breakpoint": 1024,
                  "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 600,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                },
                {
                  "breakpoint": 480,
                  "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                  }
                }
            ]
    }'>

                        @foreach (var item in Model)
                        {
                            <div class="product">
							<article class="card ">
								<figure class="card-figure">
									<a href="@Url.Action("Detial","Product", new { id = item.Id})" class="product_img_link">
										<img class="card-image lazyload" data-sizes="auto" src="http://cdn8.bigcommerce.com/s-fo69q4de8e/stencil/149b9920-9df1-0135-548e-525400970412/e/bc450ef0-b325-0135-84ac-525400970412//img/loading.svg" data-src="../../Content/images/93-thickbox_default-min__61912.1499246850.jpg" alt="Aenean consequat sagittis" title="Aenean consequat sagittis">
										<span class="product-additional" data-product-id="">
											<img class="replace-2x img-responsive" src="@item.Image" alt="Aenean consequat sagittis" title="Aenean consequat sagittis">
										</span>
									</a>
									<div class="button-quickview">
										<a href="#" class="button button--small card-figcaption-button quickview" data-product-id="111">@Resources.Quickview <span class="fa fa-eye"></span></a>
									</div>
									<figcaption class="card-figcaption">
										<div class="card-figcaption-body">
											<a href="http://ap-newfashion.mybigcommerce.com/aenean-consequat-sagittis/" class="button button--small card-figcaption-button add-cart-button" data-product-id="111">Choose Options<span class="fa fa-shopping-cart"></span></a>
											<div class="product-meta">
												<div class="box-wishlist true-compare " title="Wishlist">
													<form class="form" method="post" action="/wishlist.php?action=add&amp;product_id=111" data-wishlist-add>
														<div class="form-action">
															<input type="hidden" name="variation_id" value="">
															<button class="button button--small card-figcaption-button" type="submit">
																<span class="title-button">Wishlist</span>
																<span class="fa fa-heart"></span>
															</button>
														</div>
													</form>
												</div>
												<label class="button button--small card-figcaption-button button-compare" for="compare-111" title="Compare">
													<span class="title-button">Compare</span>
													<input type="checkbox" name="products[]" value="111" id="compare-111" data-compare-id="111">
													<i class="fa fa-copy"></i>
												</label>
											</div>
										</div>
									</figcaption>
								</figure>
								<div class="card-body">
									<div class="card-body-left">
										<h4 class="card-title">
											<a href="http://ap-newfashion.mybigcommerce.com/aenean-consequat-sagittis/">@item.Name</a>
										</h4>
										<p class="card-text" data-test-info-type="productRating">
											<span class="rating--small">
												<span class="icon icon--ratingEmpty">
													<svg>
														<use xlink:href="#icon-star" />
													</svg>
												</span>
												<span class="icon icon--ratingEmpty">
													<svg>
														<use xlink:href="#icon-star" />
													</svg>
												</span>
												<span class="icon icon--ratingEmpty">
													<svg>
														<use xlink:href="#icon-star" />
													</svg>
												</span>
												<span class="icon icon--ratingEmpty">
													<svg>
														<use xlink:href="#icon-star" />
													</svg>
												</span>
												<span class="icon icon--ratingEmpty">
													<svg>
														<use xlink:href="#icon-star" />
													</svg>
												</span>
												<!-- snippet location product_rating -->
											</span>
										</p>
									</div>
									<div class="card-text content-price" data-test-info-type="price">
										<div class="price-section price-section--withoutTax ">
											<span data-product-price-without-tax class="price price--withoutTax">@item.Price</span>
										</div>
									</div>
									<div class="description">
										<p>@item.Description</p>
									</div>
								</div>
								<div class="deal-clock lof-clock-111-detail">
									<div class="deal-clock-box">
										<span>
										</span>
									</div>
								</div>
							</article>
						</div>
                        }
					</section>
					<!-- MEGAMENU -->
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="modal" data-reveal data-prevent-quick-search-close>
		<a href="#" class="modal-close" aria-label="Close" role="button">
			<span aria-hidden="true">&#215;</span>
		</a>
		<div class="modal-content"></div>
		<div class="loadingOverlay"></div>
	</div>
</div>
@section Javascripts{
	<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Content/js/ma5slider.min.js"></script>
	<script>
		$('.ma5slider').ma5slider();
	</script>
}
