@model Yeast.Model.FrontEnd.AboutUsModel
@{
	ViewBag.Title = "Index";
}
@section CssStyle{
	@*<link href="~/Content/css/ma5slider.min.css" rel="stylesheet" />*@
}







    <div class="about-us-page">
        <ul class="breadcrumbs" style="background:url(../../Content/images/pri.jpg);">
            <h1 class="title-page-breadcrumb">@Resources.About</h1>
            <li class="breadcrumb ">
                <a href="#" class="breadcrumb-label">@Resources.Home</a> /
            </li>
            <li class="breadcrumb is-active">
                <span class="breadcrumb-label">@Resources.About</span>
            </li>
        </ul>

        <div class="content-about-us row" style="background:url(../../Content/images/bg-about.jpg) center top no-repeat;">
            <div class="container">
                <p></p><h1 class="page-header bottom-indent text-center" style="text-align: center;">@Resources.About</h1>
                <div class="page-content" style="text-align: center;">
                    <div class="rte">
                        <p>@Html.Raw(Model.aboutUsViewModel.Title)</p>
                        <p style="word-wrap:break-word;font-weight:300;font-size:16px;">@Html.Raw(Model.aboutUsViewModel.Body.ConvertToPersianString()) </p>
                    </div>
                </div><p></p>
            </div>
        </div>
        <div class="info-about-us on" style="background:url(../../Content/images/Saf-Instant-Gree.jpg);">
            <div class="container">
                <div class="block-info col-md-6 col-sm-6 col-xs-12">
                    <img src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/icon-about-us-4.png" alt="icon-info">
                    <p class="number-info" style="color:#e7ca2b">

                    </p>
                    <p class="text" style="color:#ffffff">
                        HEMRSIN TOOS
                    </p>
                </div>
                <div class="block-info col-md-6 col-sm-6 col-xs-12">
                    <img src="https://cdn6.bigcommerce.com/s-fo69q4de8e/product_images/uploaded_images/icon-about-us-3.png" alt="icon-info">
                    <p class="number-info" style="color:#e7ca2b">

                    </p>
                    <p class="text" style="color:#ffffff">
                        همرسین توس
                    </p>
                </div>

            </div>
        </div>


        <div class="on block-carousel-index clearfix">
            <div class="page-subheading">
                <p class="title--main">@Resources.ContactUs</p>
            </div>


            <h2 class="page-heading">@Resources.ContactUs</h2>


           


            <!-- MEGAMENU -->

        </div>



        <div class="block-contact on">
            <div class="servicecontact__block text-center no-padding col-md-6 col-sm-12 col-xs-12" style="background:url(../../Content/images/add.jpg) center top no-repeat;">
                <i class="fa fa-map-marker"></i>
                <h5 class="title_block" style="font-size: 30px;">@Resources.Address</h5>
                <div class="contact-content">
                    <div class="content_block" style="font-size:30px;font-weight:500">  @Model.settingViewModelCultur.WebSiteName </div>
             
                </div>
            </div>
            <div class="servicecontact__block text-center no-padding col-md-6 col-sm-12 col-xs-12" style="background:url(../../Content/images/bg-aboutus-2.jpg) center top no-repeat;">
                <i class="fa fa-phone"></i>
                <h5 class="title_block">@Resources.ContactUs</h5>
                <div class="contact-content">
                    <div class="content_block">@Model.settingViewModelCultur.Mobile.ConvertToPersianString()</div>
                    <div class="content_block">@Model.settingViewModelCultur.Phone.ConvertToPersianString()</div>
                    <div class="content_block">@Model.settingViewModelCultur.Email</div>
                </div>
                <a class="btn btn-outline-inverse" style="text-decoration:none;" href="#">@Resources.ContactUs </a>
            </div>
        </div>
    </div>
@section Javascripts{
	@*<script src="~/Content/js/jquery-ui.min.js"></script>
<script src="~/Content/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Content/js/ma5slider.min.js"></script>
	<script>
		$('.ma5slider').ma5slider();
	</script>*@
}
