@helper GetActiveClass(params string[] args)
{
foreach (string item in args)
{
	if (string.Equals(ViewBag.SelectedPage as string, item, StringComparison.OrdinalIgnoreCase))
	{
			@Html.Raw("class=\"active\"")
		return;
	}
}
}
@helper GetActive(params string[] args)
{
foreach (string item in args)
{
	if (string.Equals(ViewBag.SelectedPage as string, item, StringComparison.OrdinalIgnoreCase))
	{
			@Html.Raw("active")
		return;
	}
}
}
@helper GetOpen(params string[] args)
{
foreach (string item in args)
{
	if (string.Equals(ViewBag.SelectedPage as string, item, StringComparison.OrdinalIgnoreCase))
	{
			@Html.Raw("open")
		return;
	}
}
}
@helper GetSelectedTag(params string[] args)
{
foreach (string item in args)
{
	if (string.Equals(ViewBag.SelectedPage as string, item, StringComparison.OrdinalIgnoreCase))
	{
			<span class="selected"></span>
		return;
	}
}
}
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
			<li class="sidebar-toggler-wrapper hide">
				<div class="sidebar-toggler">
					<span></span>
				</div>
			</li>
			<li class="sidebar-search-wrapper">
				<form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html" method="POST">
					<a href="javascript:;" class="remove">
						<i class="fa fa-close"></i>
					</a>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="جستجو...">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="fa fa-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
			</li>
			<li class="nav-item start @GetActive("Dashboard")">
				<a href="@Url.Action(MVC.Admin.Dashboard.Index())" class="nav-link nav-toggle">
					<i class="fa fa-home"></i>
					<span class="title">داشبورد</span>
					@GetSelectedTag("Dashboard")
				</a>
			</li>
			<li class="heading">
				<h3 class="uppercase">مطالب</h3>
			</li>
			<li class="nav-item @GetActive("")">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-diamond"></i>
					<span class="title">پست‌ها</span>
					@GetSelectedTag("")
				</a>
			</li>
			<li class="nav-item @GetActive("")">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-puzzle"></i>
					<span class="title">نظرات</span>
					@GetSelectedTag("")
				</a>
			</li>
			<li class="nav-item @GetActive("")">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-settings"></i>
					<span class="title">کاربران</span>
					@GetSelectedTag("")
				</a>
			</li>
			<li class="nav-item @GetActive("Tag")">
				<a href="@Url.Action(MVC.Admin.Tag.Index())" class="nav-link nav-toggle">
					<i class="fa fa-bulb"></i>
					<span class="title">تگ‌ها</span>
					@GetSelectedTag("Tag")
				</a>
			</li>
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-briefcase"></i>
					<span class="title">محصولات</span>
				</a>
				
			</li>
			<li class="nav-item  ">
				<a href="?p=" class="nav-link nav-toggle">
					<i class="fa fa-wallet"></i>
					<span class="title">اسلایدر</span>
				</a>
			</li>
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-bar-chart "></i>
					<span class="title">تلگرام</span>
				</a>
			</li>
			<li class="nav-item  ">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="fa fa-pointer"></i>
					<span class="title">ایمیل</span>
				</a>
			</li>
			<li class="heading">
				<h3 class="uppercase">تنظیمات</h3>
			</li>
		</ul>
	</div>
</div>